/* Table */

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
}

table tbody tr {
  border-top: solid 1px #eae9e9;
}

table tbody tr:first-child {
  border-top: 0;
}

table td {
  padding: 0.75em 1.25em 0.75em 1.25em;
}

table th {
  text-align: left;
  font-weight: 400;
  padding: 0.75em 1.25em 0.75em 1.25em;
}

table thead {
  background: #f5f5f5;
}