/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    padding-bottom: 5em;
    background-color: black;
  }
  .custom-jumbotron{
    background-color: #dbebfa !important;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em; 
    background-color: black;
  }

 .footer p {
    text-align: center;
  }

  /* sticky end */

.disabled {
  background: #dddddd;
}


